body {
	background-color: #eeeeee;
	background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #ffffff));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff')";
	color: #FF6400;
}

.rule_wrapper pre.comment .comment, .rule .comment, .commentedout .rule, .commentedout .rule span { color: #50BD2B !important; }
.rule_wrapper:hover pre.comment .comment, .rule_wrapper pre.comment span.comment a:hover, .rule_wrapper pre.comment span.comment a.hover { color: #2d9e06; }

.rule .property, span.ie { color: #333; }

.rule b { color: rgba(0, 136, 255, 0.898438); }

.rule b.edit input { color: red; }

.rule .value, span.ie .filter { color: saddleBrown; }

.footer .comment a, .comment a { border-bottom: 1px solid #50BD2B; }

.rule.comment .comment a { border-bottom: none; }