/* --------------------------------
	Normalize CSS Reset v1.2
	Firefox IE Safari Chrome Opera
	Jonathan Neal
	jneal@liferay.com
	01-28-2010
--------------------------------*/

/* Global */

html {
	overflow-y: scroll;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

a {
	cursor: pointer;
	outline: none;
}

q:before,
q:after {
	content: "";
}

img {
	border: 0;
	vertical-align: text-bottom;
}

table {
	border-collapse: collapse;
}

/* Box Model */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 20px 0;
}

blockquote,
dl,
ol,
menu,
p,
pre,
ul {
  margin: 16px 0;
}

body {
	margin: 8px; 
}

ol,
ul ol {
	list-style: decimal outside;
}

ul,
ol ul {
	list-style: disc outside;
}

ul ul {
	list-style: circle;
}

ol ol {
	list-style: upper-roman;
}

.rule_wrapper {
	margin: 0; /* dont really need any bottom margin, IMO */
	position: relative;
}

/* Toolbox */

.toolbox_container {
	position: absolute; visibility:hidden;
	bottom: 18px; left: 15px;
}

.rule_wrapper:hover .toolbox_container { visibility:visible; }

.toolbox {
	position: relative;
	display: block;
	/*
	background: #05070e;
	border: 1px solid #1b2448;
	width: 100px;
	padding: 3px;
	height: 24px;
	*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

}

.button_container {
	position: relative;
	float: left;
}

.copybutton {
	width: 24px;
	height: 24px;
	background: url(../img/clipboard.png) no-repeat 0 0;
	background-position: 0 0;
	background-position-x: 0;
	background-position-y: 0;
}

.copybutton.hover {
	background: url(../img/clipboard.png) no-repeat 0 -24px;
	background-position: 0 -24px;
	background-position-x: 0;
	background-position-y: -24px;
}

.resetbutton {
	width: 24px;
	height: 24px;
	background: url(../img/reset.png) no-repeat 0 0;
	background-position: 0 0;
	background-position-x: 0;
	background-position-y: 0;
	
	display:none;
}

.resetbutton:hover {
	background: url(../img/reset.png) no-repeat 0 -24px;
	background-position: 0 -24px;
	background-position-x: 0;
	background-position-y: -24px;
}
/* Color */

abbr {
	border-bottom: 1px dotted;
	border-bottom-color: inherit;
}

body {
	background: #FFF;
	color: #000;
}

hr {
	border: 0 solid #808080;
	border-width: 0 0 1px;
	height: 0;
}

/* Fonts */

body {
	font: 16px/20px Times, "Times New Roman", Georgia, serif;
}

code,
h3,
h4,
h5,
h6,
kbd,
listing,
pre,
samp,
tt {
	line-height: 20px;
}

h1 {
	font-size: 32px;
	line-height: 40px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

h3 {
	font-size: 18px;
}

h4,
h5,
h6 {
	font-size: 16px;
}

sub,
sup {
	font-size: 12px;
	line-height: 0;
}

code,
kbd,
listing,
pre,
samp,
tt {
	font-size: 13px;
}

dfn {
	font-style: italic;
}

/* --------------------------------
	CSS34All Theme
	Jonathan Neal
	jneal@liferay.com
	01-28-2010
--------------------------------*/

body {
	background: #0c1021; /*was url(../img/texture.jpg)*/
	color: #f8f8f8;
}

#sandboxwrap {
    position: fixed;
	right: 25px;
	top: 50px;
    z-index: 10;
}
#sandbox {
  font-family: "goudy-bookletter-1911-1","goudy-bookletter-1911-2","Baskerville","Georgia",serif;
  border:1px solid rgba(21, 11, 11, 0.2);
	overflow: hidden;
	padding: 20px;
	
	width: 400px;
	z-index: 2;
	color: rgba(0, 0, 0, 0.6);
	font-size: 16px;
	text-shadow: 0px 0px 1px rgba(255, 255, 255, .1);
}
#sandbox h1{
  font-weight: normal;
  margin: 0 0 20px 0;
  font-size: 56px;
  word-spacing: 2px;
}
#sandbox abbr{
  cursor: help;
  font-size: 1.3em;
  color: #ff2166;
  text-shadow: 0px 0px 1px #333;
  border-bottom: 1px dashed #888;
}
#sandbox p{
	font-size: 30px;
	line-height: 50px;
	margin: 0
}

.rule,
.rule input {
	font: 14px/20px Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	white-space: pre;
	margin: 0;
	position: relative;
	z-index: 1;
	display: inline
}

.rule .comment {
    color: #0088ff;
	color: rgba(0,136,255,.9);
}
.rule.comment { display:block;}
.comment a { color:inherit; text-decoration:none;
}

.commentedout .endcomment { display:none;}
.commentclose { visibility:hidden;}
.commentedout .commentclose { visibility:visible;}
.commentedout .rule , .commentedout .rule span{ color: #0088ff; color: rgba(0,136,255,.9) !important;}
body .declaration .comment,  span.comment .comment { color: rgba(0,136,255,.3) !important }

pre.comment .comment { color: rgba(0,136,255,.5); -webkit-transition: color 2s ease-in;}
.rule_wrapper:hover pre.comment .comment { color: rgba(0,136,255,.9);}

body .commentclose .comment { color: rgba(0,136,255,.9) !important;}

.footer .comment a { border-bottom: 1px solid rgb(0,136,255);}

.rule .selector {
	color: #ff6400;
}

.rule .property,  span.ie  {
	color: #8da6ce;
}

.rule .value, span.ie .filter {
	color: #61ce3c;
}

.rule b {
	border-bottom: 1px dotted #808080;
	color: #d8fa3c;
	font-weight: normal;
	padding: 0 0 1px;
	position: relative;
}
.rule b[readonly] { border-bottom: 0; opacity: .82}
.commentedout .rule b[readonly] { opacity: 1}


.rule b input {
	background: none;
	border: 0;
	color: inherit;
	display: none;
	left: -1px;
	min-width: 2em;
	outline: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 200%;
}

.rule b.edit span {
	visibility: hidden;
}

.rule b.edit input {
	display: inline;
	color: white;
}
#guestbook{position:absolute;right:10px;padding-bottom: 10px;  }